<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>

<h1>Hello, {{username}}!</h1>
<h2>Please submit your tokens for <input type="text" name="date" value="{{date}}" /></h2>

<table id="tokens">
</table>

<button id="submit">throw these potatoes</button>

<script type="text/javascript">

$( document ).ready(function() {
    var makeCellFromLayoutCell = function(layoutCell) {
        if (layoutCell.type == 'text') {
            return $('<td>' + layoutCell.value + '</td>');
        }
        else if (layoutCell.type == 'heading') {
            return $('<th>' + layoutCell.value + '</th>');
        }
        else if (layoutCell.type == 'bucket') {
            return $('<td><input type="text" name="' + layoutCell.value + '" /></td>');
        }
    };
    var makeRowFromLayoutRow = function(layoutRow) {
        var row = $('<tr>');
        layoutRow.forEach(function(entry) {
            row.append(makeCellFromLayoutCell(entry));
        });
        return row;
    };
    $.ajax({
      url: 'https://spudb.in/lampholder/templates/2017-05-05',
      success: function(data, status) {
                   var table = $('table#tokens');
                   data.template.layout.forEach(function(entry) {
                       table.append(makeRowFromLayoutRow(entry));
                   });
               }
    });
    $('button#submit').click(function() {
        var buckets = [];
        $('table#tokens').find('input[type=text]').each(function(_, element) {
            if ($(element).val() != "") {
                buckets.push({'bucket': element.name, 'tokens': $(element).val()});
            }
        });
        console.log(buckets);
        var date = '2017-05-05';

        $.ajax({
          url: 'https://spudb.in/' + $.cookie('github_login') + '/tokens/' + date,
          method: 'post',
          beforeSend: function(request) {
                          request.setRequestHeader('Github-Login', $.cookie('github_login'));
                          request.setRequestHeader('Github-Auth-Token', $.cookie('github_auth_token'));
                      },
          success: function(data, status) {
                       alert(data);
                       alert(status);
                   }
        });
    });
});

</script>
