<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="/static/style.css">

<h1>Hello, {{username}}!</h1>
<h2>Please submit your tokens for <input type="text" id="date" value="{{date}}" /></h2>

<table id="tokens">
</table>

<button id="submit">throw these potatoes</button>

<script type="text/javascript">

$( document ).ready(function() {
    var datepicker = $('input[type=text]#date').datepicker({dateFormat: 'yy-mm-dd'});
    var makeCellFromLayoutCell = function(layoutCell, maxTokens) {
        if (layoutCell.type == 'text') {
            return $('<td>' + layoutCell.value + '</td>');
        }
        else if (layoutCell.type == 'heading') {
            return $('<th>' + layoutCell.value + '</th>');
        }
        else if (layoutCell.type == 'bucket') {
            var cell = $('<td></td>');
            cell.disableSelection();
            var element = $('<span class=\'bucket\' id=\'' + layoutCell.value + '\'>');
            var tokon = $('<span class=\'on\'>');
            var tokoff = $('<span class=\'off\'>');
            var value = 0;
            element.set = function(newValue) {
                if (   typeof(newValue) === 'number'
                    && (newValue % 1) === 0
                    && newValue >= 0
                    && newValue <= maxTokens) {
                    value = newValue;
                    tokon.html(new Array(newValue + 1).join('O'));
                    tokoff.html(new Array((maxTokens - newValue) + 1).join('O'));
                }
            };
            element.set(0);
            cell.click(function() {
                element.set(value + 1);
                alert(value);
            });
            cell.contextmenu(function (){
                element.set(value - 1);
                alert(value);
            });
            element.append(tokon);
            element.append(tokoff);
            cell.append(element);
            return cell;
        }
    };
    var makeRowFromLayoutRow = function(layoutRow, maxTokens) {
        var row = $('<tr>');
        layoutRow.forEach(function(entry) {
            row.append(makeCellFromLayoutCell(entry, maxTokens));
        });
        return row;
    };
    var loadTable = function() {
        var table = $('table#tokens');
        table.empty();
        $.ajax({
            url: '/api/' + $.cookie('github_login') + '/tokens/' + $('input[type=text]#date').val(),
            success: function(data, status) {
                         var maxTokens = data.template.maxTokens;
                         data.template.layout.forEach(function(entry) {
                             table.append(makeRowFromLayoutRow(entry, maxTokens));
                         });
                         data.tokens.forEach(function(entry) {
                             $('span#' + entry.bucket).set(entry.tokens);
                         });
                     },
            error: function() {
                $.ajax({
                    url: '/api/' + $.cookie('github_login') + '/templates/' + $('input[type=text]#date').val(),
                    success: function(data, status) {
                        var maxTokens = data.maxTokens;
                        data.layout.forEach(function(entry) {
                            table.append(makeRowFromLayoutRow(entry, maxTokens));
                        });
                    }
                });
          }
        });
    };
    loadTable();
    datepicker.on('change', function() {
        loadTable();
    });
    $('button#submit').click(function() {
        var buckets = [];
        $('table#tokens').find('input[type=text]').each(function(_, element) {
            if ($(element).val() != "") {
                buckets.push({'bucket': element.id, 'tokens': parseInt($(element).val(), 10)});
            }
        });
        var date = $('input[type=text]#date').val();

        $.ajax({
          url: '/api/' + $.cookie('github_login') + '/tokens/' + date,
          method: 'post',
          data: JSON.stringify({'buckets': buckets}),
          contentType: 'application/json',
          beforeSend: function(request) {
                          request.setRequestHeader('Github-Login', $.cookie('github_login'));
                          request.setRequestHeader('Github-Auth-Token', $.cookie('github_auth_token'));
          },
          success: function(data, status) {
                       window.location.href = '/success';
          },
          error: function(data, status) {
                     alert('Submission failed due to computer reasons.');
          }
        });
    });
});

</script>
