body, p {
    font-family: monospace;
}
th {
    text-align: left;
    background-color: #ccc;
}
table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 2px;
}
div.ui-datepicker {
    font-size:10px;
}
div.header img, div.header h1 {
    display: inline;
    vertical-align: middle;
}
table {
    font-family: monospace;
    font-size: 1.1em;
    border: 10px solid grey;
}
span.bucket {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
span.bucket span.off {
    color: lightgrey;
}
.hover { background-color: #eee; }

div.menu {
    background-color: #eee;
    margin-top: 10px;
}
div.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
}
div.menu span.notyet {
    color: #ccc;
}
span.arrows {
    font-size: 30px;
    font-weight: bold;
}
div.menu ul li {
    display: inline;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
div.menu ul li:hover {
    background-color: #ddd;
}
div.menu a {
    text-decoration: none;
    color: black;
}

/* Row highlight magic */
/* Thanks https://css-tricks.com/simple-css-row-column-highlighting/ */

table {
  overflow: hidden;
}

tr:hover td {
  background-color: #D4EAFF;
}

td, th {
  position: relative;
}

td:hover::after {
  content: "";
  position: absolute;
  background-color: #D4EAFF;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
